@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 'nav' 'main' 'footer';
    height: 100%;
}

/* TODO: Can we change the location of these styles? */
.swiper-pagination-bullet {
    background: transparent;
    border: 1px white solid;
    border-radius: 100%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: white;
}
