@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 'nav' 'main' 'footer'; */
    height: 100%;
}
